/* 添加字体 */
.fl{
    float: left;
}
.fr{
    float: right;
}
@font-face {
    font-family: font;
    src:url()
}
button{
    border:none;
}
body{
    overflow: hidden;
    background:#ebebeb;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper .voiceBox{
    width: 100%;
    height: 92%;
    background: #ebebeb;
}
.voiceBox ul li{
    margin-top: 0.4rem;
    padding: 0 0.1rem;

}
.voiceBox ul li img{
    width: 1.34rem;
    height: 1.34rem;
    padding: 0 0.4rem;
    border-radius: 9999px;
}
.voiceBox input{
    width: 4rem;
    height: 1.34rem;
    background: #a0e75a;
    border:none;
    border-radius: 5px;
    font-size: 0.56rem;
    color: #333;
}
.footer {
    width: 100%;
    height: 8%;
}
.footer button{
    display: block;
    width: 100%;
    height: 100%;
    background: #f4f4f6;
    color: #565656;
    text-align: center;
    line-height: 8%;
    font-size: 0.6rem;
}
.footer button.recordBtn{
    border-right: 1px solid #ccc;
}
.footer button.recordBtn.active{
    width: 100%;
    height: 100%;
    background: #ccc;
    color: #565656;
    text-align: center;
    line-height: 8%;
    font-size: 0.6rem;
}
/* 第一页 */
#mask{
    filter: Alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    background-color: #000;
    width: 100%; 
    height: 100%; 
    z-index: 200;
    position: absolute; 
    left: 0; 
    top: 0; 
    display: none; 
    overflow: hidden;
}
#tcc{
    display:none;
    background-color:#fff;
    z-index: 201;
}
#tcc .voiceWarp{
    width: 100%;
    height: 3rem;
    text-align: center;
    padding-top: 1.5rem;
}
#tcc .footer{
    width: 100%;
    height: 1.5rem;
}
#tcc .footer button{
    text-align: center;
    height: 1.5rem;
}
#tcc .footer button.pageOneBtn{
    border-left: 1px solid #ccc;
}
audio{
    display: none;
}
.audioBtn{
    width: 8rem;
    height: 1.34rem;
    background: #a0e75a;
    border:none;
    border-radius: 5px;
    font-size: 0.56rem;
    color: #333;
}
.wrapper .starBox{
    height: 100%;
}
.starBox ul li a{
    display: block;
    width: 4rem;
    height: 4rem;
}
.starBox ul li a img{
    width: 4rem;
    height: 4rem;
    border-radius: 999px;
}
